*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.image-container{
    border-radius: 50%;
    overflow: hidden;
}
.image-container,img{
    height: 320px;
    width: 290px;
}
.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}
.top-section h4{
    font-size: 30px;
    text-align: end;
}
.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.about-section{
    margin-top: 50px;
}
.about-section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography-section{
    margin: 50px 0;
}
.biography-section h3{
    margin-bottom: 20px;
    /* font-size: 30px; */
}
.biography-section li{
    margin-bottom: 8px;
}
.biography-section ul{
    margin-left: 50px;
}
footer p{
    margin-bottom: 5px;
    text-align: end;
}